{% extends "base.html" %}
{% block body %}
    <div class="box">
      <img src="../static/images/placeholder.png" alt="Project" width="300" height="300""><br><br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">Project ID:</strong> {{ project.get('project_id') }} <br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">Course ID:</strong> {{ project.get('course_id') }} <br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">Academic credits:</strong> {{ project.get('academic_credits') }} <br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">Start date:</strong> {{ project.get('start_date') }} <br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">End date:</strong> {{ project.get('end_date') }} <br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">Group size:</strong> {{ project.get('group_size') }} <br>
      <strong style="font-size: 14px !important; line-height: 20px !important;">Techniques:</strong> {{ project.get('techniques_used') }}
    </div>

<p>
  {{ project.get('long_description') }}
</p>

{% endblock %}
