{% extends "base.html" %}

{% block title %} Projects page {% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
{% endblock %}
{% block body %}
<p>
  
<h1> Techniques </h1>
<form class="" action="/techniques" method="POST">
  <label for="language"><input type="checkbox" value="python" name="techniques"> Python</label>
  <label for="language"><input type="checkbox" value="ada" name="techniques"> Ada</label>
  <label for="language"><input type="checkbox" value="javascript" name="techniques"> JavaScript</label>
  <label for="language"><input type="checkbox" value="c++" name="techniques"> C++</label>
  <label for="language"><input type="checkbox" value="c#" name="techniques"> C#</label>
  <label for="language"><input type="checkbox" value="html" name="techniques"> HTML</label>
  <label for="language"><input type="checkbox" value="css" name="techniques"> CSS</label>
  <label for="language"><input type="checkbox" value="flask" name="techniques"> Flask</label>
  <label for="language"><input type="checkbox" value="jinja2" name="techniques"> Jinja2</label>
  <label for="language"><input type="checkbox" value="latex" name="techniques"> LaTeX</label>
  <input type="submit" name="submit_button" value="Submit">
  </form>

</p>

{% for project in techniques %}
<a href="/project/{{ project.get('project_id') }}"><a href="{{url_for('project_site', project_id=project['project_id']) }}"><img src="{{ project.get('small_image') }}" alt="Project" width="250" height="250"><p>{{project.project_name}}</p></a>
{% endfor %}

{% endblock %}
    
