<!DOCTYPE html>
<html lang="sv">

  <head>
    <title>Templates</title>
    <link rel="stylesheet" href="../static/style/templates.css">
    <meta charset="latin-1">
    
  </head>
  
  <body>
    <main>
      <div class="main">

	<div class="topnav">
	  <center>
	    <ul>
	      <li><a href="index">Home</a></li>
	      <li><a href="techniques">Techniques</a></li>
	      <li><a href="projects">Projects</a></li>
	      <ul>
	  </center>
	</div>
	<br>
	{% block body %}{% endblock %}
	<br>
	
	<p>
	  <footer style="text-align:center"><pre><b> &copy; 2020 Philip Nguyen, Ismail Safwat</b></pre></footer>

	</p>
      </div>
    </main>
  </body>

</html>
